.main-container {
  text-align: center;
}
.channel-subscribers {
  background-color: #ffffff;
  margin-left: 30%;
  margin-top: 5%;
  margin-right: 30%;

  text-align: center;
}
body {
  background-color: #ff8100e6;
  /* background-image: url("../src/fmlogo.jpeg"); */
  width: 100%;
  height: 100%;
}
.table-subscribers {
  border-block-color: black;
}
.logincontainer {
  background-color: #ffffff;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.customer-register {
  background-color: #ffffff;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 5%;
  padding-top: 3%;
  padding-bottom: 5%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
